*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

#box{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    background: yellowgreen;
}

h1, h3 {
    color: black;
}

#newCompanyLink{
    text-decoration: none;
    color: rgb(255,255,255, 1);
}

#newCompanyLink:hover{
    color: rgb(255,255,255, 0.7);
}


#registerUserForm, #companyInformations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: fit-content;
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

    form{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

#companyInformations{
    color: black;
    margin-top: 20px;
}

input{
    width: 100%;
    border-radius: 10px;
    color: #5f5f5f;
    border:none;
    background-color: rgba(0,0,0, 0.2);
    padding: 5px;
}

#submitBtn, #selectCompany {
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 25px;
    margin: auto;
    transition-duration: 0.5s;
    color: white;
    font-weight: bold;
    font-size: 20px;
    h1{
        color: white;
    }
}

#submitBtn:hover {
    background-color: forestgreen;
}

#selectCompany:hover {
    background-color: forestgreen;
}

select{
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    color: #5f5f5f;
    padding: 5px;
}